:root {
    --background: #313131;
    --text: #ffffff;
    --light-background: #414141;
    --text-dark: #e2e2e2;
    --blue: #3d8bff;
    --font: Calibri, Arial, sans-serif;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font);
    margin: 0px;
}

.btn {
    display: block;
    
    padding: 5px 15px;
    background-color: var(--text);
    color: var(--background);
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--text-dark);
}

h1, h2, h3, h4 {
    text-align: center;
}

p {
    padding: 5px 15px;
}

a {
    text-decoration: none;
}

.form {
    display: grid;
    width: 50vw;
    max-width: 500px;
    min-width: 350px;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

    margin-left: 50%;
    translate: -50%;
    padding: 10px;

    font-size: 1.2rem;
}

input[type=text],
input[type=password] {
    background-color: var(--text);
    color: var(--background);

    padding: 2px 5px;
    border: solid var(--background) 2px;
    outline: none;

    border-bottom: solid var(--blue) 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

input[type=submit] {
    margin-left: 50%;
    translate: -50%;
}

.error {
    color: #b80028;
    font-weight: bold;
    font-size: 1rem;
}

.error > ul.errorlist {
    margin: 0px;
}

@media screen and (max-width: 680px) {
    .form {
        font-size: 1rem;
    }
}

@media screen and (max-width: 425px) {
    .form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        min-width: 200px;
    }
}
