.topbar {
    display: flex;
    flex-direction: column;
    height: 3vh;
    margin-bottom: 40px;
}
.topbar > div {
    display: flex;
}
.topbar > div > a {
    flex: 1;
    border-radius: 0px;
    padding: 1% 2%;
    text-align: center;
}

.rankings {
    position: relative;

    width: 60vw;
    height: 2vw;
    margin-left: 20vw;

    background: linear-gradient(90deg, #001603, #37ff05);
    
    border-radius: 2vw;
    border: solid black 2px;
}

.rankings > span:not(#you) {
    position: absolute;
    font-size: 0.7rem;
    background-color: var(--text);
    color: var(--background);
    border: solid black 1px;
    border-radius: 3px;
    padding: 0px 5px;
    transform: translateY(20px);
}

#you {
    user-select: none;
    color: blue;
    background-color: #8fc9ffaa;
    border: solid blue 1px;
    padding: 2px 3px;
    border-radius: 100px;
}
