{% extends 'urls/baseplate.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock %}
{% block content %}
<nav class="topbar">
    <div>
        <a class="btn" href="/my-driving">My Driving</a>
        <a class="btn" href="/boards">Leader Boards</a>
        <a class="btn" href="/">Python-OBD</a>
    </div>
</nav>
<h3>Hi, {{ display_name }}</h3>
<h1 style="margin-bottom: 0px"><span id="display-name">{{ display_name }}</span>'s Dashboard</h1>
<h2 id="username" style="margin-top: 0px">@{{ username }}</h2>
<div style="padding: 10px;">
    <fieldset style="border-color: #ffb3b3;">
        <legend style="color: #ffb3b3;" class="error">Danger Zone</legend>
        <a href="/logout" class="error">Log out.</a><br>
        <hr style="border-color: #ffb3b3;">
        <a onclick="
        if (window.prompt('Type DELETE in all caps to confirm account deletion') === 'DELETE') {
            window.location.replace('/delete')
        }
        " class="error">Delete Account.</a>
    </fieldset>
</div>
{% endblock %}